@{
    Layout = null;
}

<!DOCTYPE html>
<html class="error_page">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/bootstrap", "~/Content/stylecss")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Jockey+One" />
</head>
<body>
    <div class="error_box">
        <h1>Permission Denied</h1>
		<p>You have not permissions to perform this operation.</p>
		<a href="javascript:history.back()" class="back_link btn btn-small">Go back</a>
    </div>
</body>
</html>