<?xml version="1.0"?>
  <connectionStrings>
    <add name="WebrootUI2Connection"
         connectionString="Data Source=LUKEPRO-PC\SQLEXPRESS2008;Initial Catalog=WebrootUI2;User ID=lukepro;Password=@123;"/>
         <!--connectionString="Data Source=DANANJAYA-PC\SQLEXPRESS2012;Initial Catalog=AspMembership;Integrated Security=True"/>-->
    </connectionStrings>
