<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--<appSettings configSource="Configs\AppSettings.config" />-->
  <appSettings>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="emailAddress" value="mcpaymenttest@gmail.com"/>
    <add key="emailPassword" value="mcpayment123$"/>
    <add key="enabledSSL" value="true"/>
    <add key="ownCompanyId" value="9cf03dc8-8aee-4258-b8f1-e237bbcc7a8b"/>
    <add key="standardRoles" value="d7adcd43-0f4b-47ce-b495-65c12c0c7a1b,64940500-dd89-46db-acf2-72cf4cfb7338,51406785-b419-49d3-95f1-53a33ef29ae5"/>
    <add key="superAdminRoleId" value="997ef70f-837f-44af-8da6-9bfad1ea56bd"/>
    <add key="VerificationRequestExpireTime" value="100"/>
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true"/>
  </appSettings>
  <!--<connectionStrings configSource="Configs\ConnectionString.config" />-->
  <connectionStrings>
    <add name="WebrootUI2Connection" connectionString="Data Source=42.117.6.159;Initial Catalog=WebrootUI2;User ID=test;Password=@123;"/>
  </connectionStrings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="App">
      <error statusCode="404" redirect="HttpNotFoundError"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="Microsoft.Web.Mvc"/>
        <add namespace="WebrootUI2.Web.Mvc.Controllers"/>
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="/Admin/Login"/>
    </authentication>
    <membership defaultProvider="SqlMemProvider">
      <providers>
        <add name="SqlMemProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebrootUI2Connection" maxInvalidPasswordAttempts="4" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Encrypted" enablePasswordRetrieval="true"/>
        <!--Additional provider to use in ChangePassword (requiresQuestionAndAnswer is set to false)-->
        <add name="AdminProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebrootUI2Connection" maxInvalidPasswordAttempts="4" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" enablePasswordRetrieval="true"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="WebrootUI2Connection"/>
      </providers>
    </roleManager>
    <machineKey validationKey="5D0F664697A405BA0C12CC36200BC0EA4B3E54CDBAB0C435DBE52317ED02C98D8FEF9919CD9F0A138BB11F63F5270EFF4E05FF668762598F36934284F69EC37E" decryptionKey="42FB0CA3A1F409CD5A6B93191E275B8B0325EF2FBEC7CBE4890C9CA78F5DEB4D" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.733" newVersion="1.3.0.733"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="3.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>