packages/*
!repositories.config
[bB]in
[Oo]bj
*.suo
*.user
*.[Cc]ache
*.log
[Tt]humbs.db
*.dotCover
*[Rr]e[Ss]harper.*


/Sourcecode/packages/Castle.Core.3.0.0.4001/ASL - Apache Software Foundation License.txt
/Sourcecode/packages/Castle.Core.3.0.0.4001/BreakingChanges.txt
/Sourcecode/packages/Castle.Core.3.0.0.4001/Castle.Core.3.0.0.4001.nupkg
/Sourcecode/packages/Castle.Core.3.0.0.4001/Changes.txt
/Sourcecode/packages/Castle.Core.3.0.0.4001/Committers.txt
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/net35/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/net35/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/net40-client/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/net40-client/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/sl4/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.0.0.4001/lib/sl4/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.0.0.4001/readme.txt
/Sourcecode/packages/Castle.Core.3.1.0/ASL - Apache Software Foundation License.txt
/Sourcecode/packages/Castle.Core.3.1.0/BreakingChanges.txt
/Sourcecode/packages/Castle.Core.3.1.0/Castle.Core.3.1.0.nupkg
/Sourcecode/packages/Castle.Core.3.1.0/Changes.txt
/Sourcecode/packages/Castle.Core.3.1.0/Committers.txt
/Sourcecode/packages/Castle.Core.3.1.0/License.txt
/Sourcecode/packages/Castle.Core.3.1.0/lib/net35/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.1.0/lib/net35/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.1.0/lib/net40-client/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.1.0/lib/net40-client/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.1.0/lib/sl4/Castle.Core.dll
/Sourcecode/packages/Castle.Core.3.1.0/lib/sl4/Castle.Core.xml
/Sourcecode/packages/Castle.Core.3.1.0/readme.txt
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/ASL - Apache Software Foundation License.txt
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/BreakingChanges.txt
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/Castle.Windsor.3.0.0.4001.nupkg
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/Changes.txt
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/Committers.txt
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net35/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net35/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net40-client/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net40-client/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net40/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/net40/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/sl4/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/lib/sl4/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.0.0.4001/readme.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/ASL - Apache Software Foundation License.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/BreakingChanges.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/Castle.Windsor.3.1.0.nupkg
/Sourcecode/packages/Castle.Windsor.3.1.0/Changes.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/Committers.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/License.txt
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net35/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net35/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net40-client/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net40-client/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net40/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/net40/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/sl4/Castle.Windsor.dll
/Sourcecode/packages/Castle.Windsor.3.1.0/lib/sl4/Castle.Windsor.xml
/Sourcecode/packages/Castle.Windsor.3.1.0/readme.txt
/Sourcecode/packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nupkg
/Sourcecode/packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.XML
/Sourcecode/packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.dll
/Sourcecode/packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.pdb
/Sourcecode/packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.XML
/Sourcecode/packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.dll
/Sourcecode/packages/CommonServiceLocator.WindsorAdapter.1.0/CommonServiceLocator.WindsorAdapter.1.0.nupkg
/Sourcecode/packages/CommonServiceLocator.WindsorAdapter.1.0/lib/NET35/CommonServiceLocator.WindsorAdapter.dll
/Sourcecode/packages/CommonServiceLocator.WindsorAdapter.1.0/lib/NET35/CommonServiceLocator.WindsorAdapter.pdb
/Sourcecode/packages/FluentNHibernate.1.3.0.727/FluentNHibernate.1.3.0.727.nupkg
/Sourcecode/packages/FluentNHibernate.1.3.0.727/lib/FluentNHibernate.XML
/Sourcecode/packages/FluentNHibernate.1.3.0.727/lib/FluentNHibernate.dll
/Sourcecode/packages/FluentNHibernate.1.3.0.733/FluentNHibernate.1.3.0.733.nupkg
/Sourcecode/packages/FluentNHibernate.1.3.0.733/lib/FluentNHibernate.XML
/Sourcecode/packages/FluentNHibernate.1.3.0.733/lib/FluentNHibernate.dll
/Sourcecode/packages/Iesi.Collections.3.2.0.4000/Iesi.Collections.3.2.0.4000.nupkg
/Sourcecode/packages/Iesi.Collections.3.2.0.4000/lib/Net35/Iesi.Collections.dll
/Sourcecode/packages/Iesi.Collections.3.2.0.4000/lib/Net35/Iesi.Collections.xml
/Sourcecode/packages/Machine.Specifications.0.5.7/Machine.Specifications.0.5.7.nupkg
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net20/Machine.Specifications.TDNetRunner.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net20/Machine.Specifications.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net20/Machine.Specifications.dll.tdnet
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net40/Machine.Specifications.Clr4.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net40/Machine.Specifications.TDNetRunner.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net40/Machine.Specifications.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/lib/net40/Machine.Specifications.dll.tdnet
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/CommandLine.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/CommandLine.xml
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.4.1.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.4.5.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.5.0 - VS2008.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.5.0 - VS2010.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.5.1 - VS2008.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.5.1 - VS2010.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.6.0 - VS2008.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.6.0 - VS2010.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.6.1 - VS2008.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.6.1 - VS2010.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallResharperRunner.7.0 - VS2011.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallTDNetRunner.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/InstallTDNetRunnerSilent.bat
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/JetBrains.dotCover.Resources.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/License.txt
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.Clr4.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.GallioAdapter.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.GallioAdapter.plugin
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.4.1.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.4.5.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.5.0.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.5.1.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.6.0.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.6.1.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.ReSharperRunner.7.0.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.Reporting.Templates.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.Reporting.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.SeleniumSupport.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.TDNetRunner.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.WatinSupport.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.WebDriverSupport.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.dll.tdnet
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Machine.Specifications.dotCoverRunner.2.0.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/Spark.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/TestDriven.Framework.dll
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/install.ps1
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec-clr4.exe
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec-clr4.exe.config
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec-x86-clr4.exe
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec-x86-clr4.exe.config
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec-x86.exe
/Sourcecode/packages/Machine.Specifications.0.5.7/tools/mspec.exe
/Sourcecode/packages/Microsoft.AspNet.Web.Optimization.1.0.0/Microsoft.AspNet.Web.Optimization.1.0.0.nupkg
/Sourcecode/packages/Microsoft.AspNet.Web.Optimization.1.0.0/lib/net40/System.Web.Optimization.dll
/Sourcecode/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/Sourcecode/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/Sourcecode/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
/Sourcecode/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
/Sourcecode/packages/Modernizr.2.6.2/Tools/common.ps1
/Sourcecode/packages/Modernizr.2.6.2/Tools/install.ps1
/Sourcecode/packages/Modernizr.2.6.2/Tools/uninstall.ps1
/Sourcecode/packages/Mvc3Futures.3.0.20105.0/Mvc3Futures.3.0.20105.0.nupkg
/Sourcecode/packages/Mvc3Futures.3.0.20105.0/lib/Microsoft.Web.Mvc.dll
/Sourcecode/packages/MvcContrib.Mvc3-ci.3.0.100.0/MvcContrib.Mvc3-ci.3.0.100.0.nupkg
/Sourcecode/packages/MvcContrib.Mvc3-ci.3.0.100.0/lib/MvcContrib.dll
/Sourcecode/packages/MvcContrib.Mvc3.FluentHtml-ci.3.0.100.0/MvcContrib.Mvc3.FluentHtml-ci.3.0.100.0.nupkg
/Sourcecode/packages/MvcContrib.Mvc3.FluentHtml-ci.3.0.100.0/lib/MvcContrib.FluentHtml.dll
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/FireBird.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/MSSQL.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/MySql.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/Oracle.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/PostgreSQL.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/SQLite.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/SybaseASE.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/ConfigurationTemplates/SybaseSQLAnywhere.cfg.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/NHibernate.3.3.1.4000.nupkg
/Sourcecode/packages/NHibernate.3.3.1.4000/NHibernate.license.txt
/Sourcecode/packages/NHibernate.3.3.1.4000/NHibernate.readme.html
/Sourcecode/packages/NHibernate.3.3.1.4000/NHibernate.releasenotes.txt
/Sourcecode/packages/NHibernate.3.3.1.4000/lib/Net35/NHibernate.dll
/Sourcecode/packages/NHibernate.3.3.1.4000/lib/Net35/NHibernate.xml
/Sourcecode/packages/NHibernate.3.3.1.4000/nhibernate-configuration.xsd
/Sourcecode/packages/NHibernate.3.3.1.4000/nhibernate-mapping.xsd
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/FireBird.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/MSSQL.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/MySql.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/Oracle.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/PostgreSQL.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/SQLite.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/SybaseASE.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/ConfigurationTemplates/SybaseSQLAnywhere.cfg.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/NHibernate.3.3.2.4000.nupkg
/Sourcecode/packages/NHibernate.3.3.2.4000/NHibernate.license.txt
/Sourcecode/packages/NHibernate.3.3.2.4000/NHibernate.readme.html
/Sourcecode/packages/NHibernate.3.3.2.4000/NHibernate.releasenotes.txt
/Sourcecode/packages/NHibernate.3.3.2.4000/lib/Net35/NHibernate.dll
/Sourcecode/packages/NHibernate.3.3.2.4000/lib/Net35/NHibernate.xml
/Sourcecode/packages/NHibernate.3.3.2.4000/nhibernate-configuration.xsd
/Sourcecode/packages/NHibernate.3.3.2.4000/nhibernate-mapping.xsd
/Sourcecode/packages/NLog.2.0.0.2000/NLog.2.0.0.2000.nupkg
/Sourcecode/packages/NLog.2.0.0.2000/lib/net20/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/net20/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/net35/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/net35/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/net40/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/net40/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl2/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl2/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl3-wp/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl3-wp/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl3/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl3/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl4-windowsphone71/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl4-windowsphone71/NLog.xml
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl4/NLog.dll
/Sourcecode/packages/NLog.2.0.0.2000/lib/sl4/NLog.xml
/Sourcecode/packages/NLog.Config.2.0.0.2000/NLog.Config.2.0.0.2000.nupkg
/Sourcecode/packages/NLog.Config.2.0.0.2000/content/NLog.config
/Sourcecode/packages/NLog.Config.2.0.0.2000/content/NLog.xsd
/Sourcecode/packages/NLog.Config.2.0.0.2000/tools/Install.ps1
/Sourcecode/packages/NUnit.2.5.10.11092/Logo.ico
/Sourcecode/packages/NUnit.2.5.10.11092/NUnit.2.5.10.11092.nupkg
/Sourcecode/packages/NUnit.2.5.10.11092/NUnitFitTests.html
/Sourcecode/packages/NUnit.2.5.10.11092/fit-license.txt
/Sourcecode/packages/NUnit.2.5.10.11092/lib/nunit.framework.dll
/Sourcecode/packages/NUnit.2.5.10.11092/lib/nunit.framework.xml
/Sourcecode/packages/NUnit.2.5.10.11092/lib/nunit.mocks.dll
/Sourcecode/packages/NUnit.2.5.10.11092/lib/pnunit.framework.dll
/Sourcecode/packages/NUnit.2.5.10.11092/license.txt
/Sourcecode/packages/NUnit.2.5.10.11092/tools/NUnitTests.VisualState.xml
/Sourcecode/packages/NUnit.2.5.10.11092/tools/NUnitTests.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/NUnitTests.nunit
/Sourcecode/packages/NUnit.2.5.10.11092/tools/TestResult.xml
/Sourcecode/packages/NUnit.2.5.10.11092/tools/agent.conf
/Sourcecode/packages/NUnit.2.5.10.11092/tools/agent.log.conf
/Sourcecode/packages/NUnit.2.5.10.11092/tools/launcher.log.conf
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/Failure.png
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/Ignored.png
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/Inconclusive.png
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/Skipped.png
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/Success.png
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/fit.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/log4net.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit-console-runner.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit-gui-runner.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.core.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.core.interfaces.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.fixtures.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.uiexception.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.uikit.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/lib/nunit.util.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-agent-x86.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-agent-x86.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-agent.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-agent.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-console-x86.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-console-x86.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-console.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-console.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-x86.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit-x86.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/nunit.framework.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit-agent.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit-agent.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit-launcher.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit-launcher.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit.framework.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/pnunit.tests.dll
/Sourcecode/packages/NUnit.2.5.10.11092/tools/runFile.exe
/Sourcecode/packages/NUnit.2.5.10.11092/tools/runFile.exe.config
/Sourcecode/packages/NUnit.2.5.10.11092/tools/runpnunit.bat
/Sourcecode/packages/NUnit.2.5.10.11092/tools/test.conf
/Sourcecode/packages/NUnitLib.2.5.10.11092/NUnitLib.2.5.10.11092.nupkg
/Sourcecode/packages/NUnitLib.2.5.10.11092/lib/net/nunit.framework.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/Newtonsoft.Json.4.0.8.nupkg
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net20/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net20/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net20/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net35/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net35/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net35/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net40/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net40/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/net40/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl3-wp/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl3-wp/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl3-wp/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4-windowsphone71/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4-windowsphone71/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4-windowsphone71/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4/Newtonsoft.Json.pdb
/Sourcecode/packages/Newtonsoft.Json.4.0.8/lib/sl4/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.dll
/Sourcecode/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
/Sourcecode/packages/SharpArch.Domain.2.0.4/SharpArch.Domain.2.0.4.nupkg
/Sourcecode/packages/SharpArch.Domain.2.0.4/lib/NET40/SharpArch.Domain.dll
/Sourcecode/packages/SharpArch.Domain.2.0.4/lib/NET40/SharpArch.Domain.pdb
/Sourcecode/packages/SharpArch.NHibernate.2.0.4/SharpArch.NHibernate.2.0.4.nupkg
/Sourcecode/packages/SharpArch.NHibernate.2.0.4/lib/NET40/SharpArch.NHibernate.dll
/Sourcecode/packages/SharpArch.NHibernate.2.0.4/lib/NET40/SharpArch.NHibernate.pdb
/Sourcecode/packages/SharpArch.Testing.NUnit.2.0.4/SharpArch.Testing.NUnit.2.0.4.nupkg
/Sourcecode/packages/SharpArch.Testing.NUnit.2.0.4/lib/NET40/SharpArch.Testing.NUnit.dll
/Sourcecode/packages/SharpArch.Testing.NUnit.2.0.4/lib/NET40/SharpArch.Testing.NUnit.pdb
/Sourcecode/packages/SharpArch.Web.Mvc.Castle.2.0.4/SharpArch.Web.Mvc.Castle.2.0.4.nupkg
/Sourcecode/packages/SharpArch.Web.Mvc.Castle.2.0.4/lib/NET40/SharpArch.Web.Mvc.dll
/Sourcecode/packages/SharpArch.Web.Mvc.Castle.2.0.4/lib/NET40/SharpArch.Web.Mvc.pdb
/Sourcecode/packages/System.Data.SQLite.1.0.81.0/System.Data.SQLite.1.0.81.0.nupkg
/Sourcecode/packages/System.Data.SQLite.1.0.81.0/lib/net20/System.Data.SQLite.Linq.dll
/Sourcecode/packages/System.Data.SQLite.1.0.81.0/lib/net20/System.Data.SQLite.dll
/Sourcecode/packages/System.Data.SQLite.1.0.81.0/lib/net40/System.Data.SQLite.Linq.dll
/Sourcecode/packages/System.Data.SQLite.1.0.81.0/lib/net40/System.Data.SQLite.dll
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/Twitter.Bootstrap.2.3.0.nupkg
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/bootstrap-responsive.css
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/bootstrap-responsive.min.css
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/bootstrap.css
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/bootstrap.min.css
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/images/glyphicons-halflings-white.png
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Content/images/glyphicons-halflings.png
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Scripts/bootstrap.js
/Sourcecode/packages/Twitter.Bootstrap.2.3.0/content/Scripts/bootstrap.min.js
/Sourcecode/packages/WebGrease.1.3.0/WebGrease.1.3.0.nupkg
/Sourcecode/packages/WebGrease.1.3.0/lib/Antlr3.Runtime.dll
/Sourcecode/packages/WebGrease.1.3.0/lib/WebGrease.dll
/Sourcecode/packages/WebGrease.1.3.0/tools/WG.exe
/Sourcecode/packages/inflector_extension.0.0.7/inflector_extension.0.0.7.nupkg
/Sourcecode/packages/inflector_extension.0.0.7/lib/Net35/inflector_extension.dll
/Sourcecode/packages/inflector_extension.0.0.7/lib/Net40/inflector_extension.dll
/Sourcecode/packages/jQuery.1.9.1/Content/Scripts/jquery-1.9.1-vsdoc.js
/Sourcecode/packages/jQuery.1.9.1/Content/Scripts/jquery-1.9.1.js
/Sourcecode/packages/jQuery.1.9.1/Content/Scripts/jquery-1.9.1.min.js
/Sourcecode/packages/jQuery.1.9.1/Content/Scripts/jquery-1.9.1.min.map
/Sourcecode/packages/jQuery.1.9.1/Tools/common.ps1
/Sourcecode/packages/jQuery.1.9.1/Tools/install.ps1
/Sourcecode/packages/jQuery.1.9.1/Tools/jquery-1.9.1.intellisense.js
/Sourcecode/packages/jQuery.1.9.1/Tools/uninstall.ps1
/Sourcecode/packages/jQuery.1.9.1/jQuery.1.9.1.nupkg
/Sourcecode/packages/log4net.2.0.0/lib/net10-full/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net10-full/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net11-full/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net11-full/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net20-cf/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net20-cf/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net20-full/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net20-full/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net35-client/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net35-client/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net35-full/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net35-full/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net40-client/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net40-client/log4net.xml
/Sourcecode/packages/log4net.2.0.0/lib/net40-full/log4net.dll
/Sourcecode/packages/log4net.2.0.0/lib/net40-full/log4net.xml
/Sourcecode/packages/log4net.2.0.0/log4net.2.0.0.nupkg
